body{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #58a;
    color: #fff;
}

body, div, header, nav, ul{
    box-sizing: border-box;
}

/* HEADER SECTION 9ce */

.header {
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url("../../imagenes/1-5130650304.webp");
    display: flex;
}

.header__overlay{
    min-height: 100vh;
    width: 100%;
    background-color: #0066;
    position: absolute;
    z-index: 1;
}

.header__item-container{
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 700px;
}

.header__img{
    min-width: 250px;
    max-width: 40%;
    border-radius: 50%;
    border: 6px solid #000;
    margin: 20px;
}

.header__item-container p {
    text-wrap: pretty;
}

h1{
    margin: 0;
    font-size: 3.6rem;
    text-wrap: balance;
}

/* NAV VAR SECTION */

.nav{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    padding: 6px 20px;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    box-shadow: 0 0 25px #0006;
}

.nav__ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

}

.nal__item{
    list-style: none;;
}

.nav__ul-container{
    flex-grow: 1;
    text-align: center;
}

.nav__logo-container{
    flex-grow: 4;
    text-align: center;
}


.nav__link{
    color: #48e;
    text-decoration: none;
    display: inline-block;
    padding: 8px 10px;
    margin: 6px;
    border-radius: 0;
    transition: border 0.2s, border-radius 0.2s, background-color 0.2s, outline 0.2s, outline-offset 0.2s;
    margin: 2px;
    outline: 0;
    outline-offset: 0;
}

.nav__link:hover{
    background-color: #9df;
    text-decoration: none;
    border-radius: 20px;
    outline: 2px solid #48e6;
    outline-offset: -7px;
}

.link--login{
    background-color: #48e;
    color: #fff;
    padding: 8px 24px;
    margin-left: 6px;
    border-radius: 18px;
}

.link--login:hover{
    background-color: #46a;
    outline: none;
}

.nav__logo{
    width: 50px;
}

main{
    max-width: 800px;
    margin: auto;
    font-size: 40px;
    text-wrap: pretty;
}