div {
    background-color: red;
    width: 200px;
    height: 200px;
}
form {
    background-color: blue;
    width: 200px;
    height: 200px;
}

input {
    background-color: yellow;
    width: 200px;
    height: 200px;
}